<?php

/**
 * Keepa API
 * The Keepa API offers numerous endpoints.  Every request requires your API access key as a parameter. You can find and change your key in the keepa portal. All requests must be issued as a HTTPS GET and accept gzip encoding. If possible, use a Keep-Alive connection.  Multiple requests can be made in parallel to increase throughput.
 *
 * OpenAPI spec version: 1.0.0
 * Contact: info@keepa.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Source files are located at:
 *
 * > swagger-codegen/modules/swagger-codegen/src/main/resources/php-laravel/
 */

/**
 * get category
 * Summary: Returns Amazon category information from Keepa API.
 * Notes: Retrieve category objects using their node ids and (optional) their parent tree.
 * Output-Formats: [application/json]
 */
Route::get('/magicCashew/keepa/1.0.0/category', 'CategoryController@category');
/**
 * get product
 * Summary: Retrieve the product for the specified ASIN and domain.
 * Notes: Retrieves the product object for the specified ASIN and domain. If our last update is older than one hour it will be automatically refreshed before delivered to you to ensure you get near to real-time pricing data.  You can request products via either their ASIN (preferred) or via UPC and EAN codes. You can not use both parameters, asin and code, in the same request. Keepa can not track Amazon Fresh and eBooks.
 * Output-Formats: [application/json]
 */
Route::get('/magicCashew/keepa/1.0.0/product', 'ProductController@product');

